*{
    margin: 0;
}
body{
   background-color:rgba(32,33,36,1)
}
.menu_direita{
    color: white;
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: flex-end;
    padding-right: 15px;       
    gap: 15px;               
    font: 13px arial;          
}

.menu_icone:hover{
    cursor: pointer;
}

.menu_texto:hover{
    cursor: pointer;
    text-decoration: underline;
}

.menu_perfil{
    height: 32px;
    width: 32px;
    border-radius: 15px 15px;
}
.menu_perfil:hover{
    cursor: pointer;
}

.logo{
    margin-top: 70px;
    display: block;             
    margin-left: auto;        
    margin-right: auto;        
}
.pesquisa{
    margin-top: 20px;
    display: block;            
    margin-right: auto;        
    margin-left: auto;         
    width: 500px;
    height: 40px;
    border-radius: 20px 20px ;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(118, 118, 118);
    outline: none;
}
.pesquisa:hover{
    background: rgb(59, 59, 59);
}
.lupa{
    height: 30px;
    width: 30px;
    
}
.botao_pesquisa{
    text-align: center;        
    margin-top: 20px;
    width: 120px;
    height: 35px;
    background: #303134;
    color: white;
    outline: none;
    border-color: transparent;          
    border-radius: 5px 5px;             
}
.botao_pesquisa:hover{
    border: 1px solid#bdc1c6;   
    cursor: pointer;     
}

.botao_explorar{
    margin-left: 10px;
    margin-top: 20px;
    width: 120px;
    height: 35px;
    background: #303134;
    color: white;
    outline: none;
    border-color: transparent;   
    border-radius: 5px 5px;        
}
.botao_explorar:hover{
    border: 1px solid#bdc1c6;  
    cursor: pointer;  
}

.traduçao{
    color: #bdc1c6;
    text-align: center;
    font: 13px arial;
    margin-top: 20px
}
.english{
    text-decoration: none;
    color: #8ab4f8;
}

.english:hover{
    text-decoration: underline;
    cursor: pointer;
}

.pais{
    margin-top: 162px;
    color: #bdc1c6;
    font: 15px arial;
    background: #1b1b1b;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    height: 15px;
}
.menu_config{
    color: #bdc1c6;
    font: 12px arial;
    background: #1b1b1b;
    border-top: 1px solid #303134;
    padding-top: 18px;
    height: 35px;
    display: flex;                     
    justify-content: space-between;  
}
.sobre{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.menu_config_esquerda{
    gap: 20px;         
    display: flex;      
    padding-left: 30px; 
}

.menu_config_direita{
    gap: 20px;          
    display: flex;      
    padding-right: 30px; 
}

.menu_configuraçoes:hover{
    cursor: pointer;
    text-decoration: underline;
}
.menu_termos:hover{
    cursor: pointer;
    text-decoration: underline;
}
.menu_privacidade:hover{
    cursor: pointer;
    text-decoration: underline;
}
.menu_pesquisa:hover{
    cursor: pointer;
    text-decoration: underline;
}
.menu_negocios:hover{
    cursor: pointer;
    text-decoration: underline;
}
.menu_publicidade:hover{
    cursor: pointer;
    text-decoration: underline;
}
.menu_sobre:hover{
    cursor: pointer;
    text-decoration: underline;
}